body {
    font-family: sans-serif;
    color: #222222;
    background-color: black;
}

p {
    margin-top: 8px;
    margin-bottom: 8px;
}

#brush-button {
    display: inline-block;
    padding: 1px;
    margin-right: 3px;
}

.glyphicon {
    width: 30px;
    height: 30px;
}

.controls {
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
    background: #efefef;
    padding: 1px;
}

.canvas-wrapper {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
}

#image {
    position: absolute;
    z-index: 0;
}

/* #draw-canvas {
    position: relative;
    width: inherit;
    height: inherit;
    left: 0;
    top: 0;
    z-index: 1;
} */

#brush {
    display: block;
}

#brushpicker {
    display: inline-block;
    vertical-align: top;
    background: #efefef;
    padding: 1px;
}
